.span-8
  %h2 Contact Total Rehab

  Phone: 641-236-4506
  %br
  Fax: 641-236-4316
.span-8.last
  = img 'sign.jpg', :height => '100px'

.span-16.last
  Email:
  %ul
    %li 
      Stacey Alberts: owner, physical therapist 
      = link 'stacey@totalrehab-pt.com', 'mailto:stacy@totalrehab-pt.com'
    %li
      Amy Baker: physical therapist 
      = link 'amy@totalrehab-pt.com', 'mailto:amy@totalrehab-pt.com'
    %li
      Linda Davis: occupational therapist 
      = link 'linda@totalrehab-pt.com', 'mailto:linda@totalrehab-pt.com'
    %li
      Ryan Dodd: physical therapist
      = link 'ryand@totalrehab-pt.com', 'mailto:ryand@totalrehab-pt.com'

  %h3 Call Today to Begin Experiencing the Total Rehab Advantage!

  %strong Accepting Applications for Full &amp; Part Time Physical Therapists
  %ul
    %li Benefits Available 
    %li Sign-on Bonus Available 
    %li No Weekend or Holiday Hours 
    %li 
      Send inquiries to 
      = link 'stacey@totalrehab-pt.com', 'mailto:stacy@totalrehab-pt.com'

  %p
    Our office is located in the Southview Plaza
    %br
    234 West Street South in Grinnell

#map.span-16.last
  = img 'map.jpg'
