.container
  .span-24.header
    = img 'TotalRehab_template/TotalRehab_header.jpg'
  .span-24.content
    #sidebar.span-4
      %ul#menu
        %li= link 'Home'
        %li= link 'Philosophy'
        %li= link 'Our Staff'
        %li= link 'Pediatric'
        %li= link 'Industrial Rehab'
        %li= link 'Sports Enhancement'
        %li= link 'Contact Us'
      
      %h5 Total Rehab
      641-236-4506
      
      %address
        Southview Plaza-Suite D
        %br
        234 West Street South
        %br
        Grinnell, IA 50112
    	
      %h5 Hours
      7:30am - 6:00pm

      %br
      %a{:href => 'mailto:stacey@totalrehab-pt.com'} stacey@totalrehab-pt.com
    
    .span-14.content
      %h2.header Patient Care
      #patients
        .span-6
          = img 'patient_services.png'
        .span-8.last
          %h3 Total Rehab Orthopedit & Sports Specialists
          %p
            is a locally owned, private practice who offers a 
            non surgical
            testing
            other text here
            
      = img 'TotalRehab_Index-images/TotalRehab-index-patient care.jpg'
      = img 'TotalRehab_Index-images/TotalRehab-index-services.jpg'

    .span-4.last
      = img 'TotalRehab_Index-images/TotalRehab-stacey.jpg'

  .span-24.footer
    = img 'TotalRehab_template/TotalRehab-footer.jpg'

  :javascript
    $(document).ready(function() {
      $('.header').corner('round tl');
    })