.container
  .span-22.header
    = img 'TotalRehab_template/TotalRehab_header.jpg'
  .span-22.content
    #sidebar.span-4
      %ul#menu
        %li= link 'Home'
        %li= link 'Philosophy'
        %li= link 'Our Staff'
        %li= link 'Pediatric'
        %li= link 'Industrial Rehab'
        %li= link 'Sports Enhancement'
        %li= link 'Contact Us'
      
      %h5 Total Rehab
      641-236-4506
      
      %address
        Southview Plaza-Suite D
        %br
        234 West Street South
        %br
        Grinnell, IA 50112
    	
      %h5 Hours
      7:30am - 6:00pm

      %br
      %a{:href => 'mailto:stacey@totalrehab-pt.com'} stacey@totalrehab-pt.com
    
    .span-14.content
      .span-5.last
        %h2.header Patient Care
      .details.span-13
        .span-6
          = img 'patient_care.png'
        .span-7.last
          %h3 Total Rehab Orthopedit & Sports Specialists
          %p
            is a locally owned, private practice who offers a 
            non surgical
            testing
            other text here ivate practice who offers a non surgical testing other text here  ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here 

      .span-5.last
        %h2.header Our Services Include
      .details.span-13
        .span-3
          = img 'patient_services.png'
        .span-10.last
          %h3 Total Rehab Orthopedit & Sports Specialists
          %p
            is a locally owned, private practice who offers a 
            non surgical
            testing
            other text here
            ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here ivate practice who offers a non surgical testing other text here 
    .span-4.last
      = img 'stacey.png'
      %p.stacey
        Physical Therapy/Owner
        %br
        Board Certified
        %br
        Orthopedic Clinical Specialist
        %br
        Certified Strength and Conditioning Specialist

  .span-22.footer
    .quote.span-10
      .tagline Never give up.  
      For that is just the place
      %br
      and time the tide will turn.
      .author - Harriet Beecher Stowe

    .span-3
      %br

    .testimonial.span-8.last
      I liked the service I received at Total Rehab. I liked the service I received at Total Rehab.
      I liked the service I received at Total Rehab.
      I liked the service I received at Total Rehab.
      I liked the service I received at Total Rehab.
      I liked the service I received at Total Rehab.
      I liked the service I received at Total Rehab.
      I liked the service I received at Total Rehab.

  :javascript
    $(document).ready(function() {
      $('.header').corner('round tl');
      $('.stacey').corner('round bl');
      $('.testimonial').corner('round tl');
    })