%h2 Total Rehab Staff

.span-3
  = img 'stacey.jpg'
.span-12.last
  %h3 Stacey Alberts, PT/OCS/CSCS
  %p Professional Title:  Master of Physical Therapy/Orthopedic Clinical Specialist/Certified Strength and Conditioning Specialist
  %h4 Education
  %ul
    %li Master of Physical Therapy, The University of Iowa
    %li Undergraduate: Central College, Pella, Iowa
  %p Other credentials or certifications: Board Certified Orthopaedic Clinical Specialist (OCS), Certified Strength and Conditioning Specialist (CSCS)
  %p Professional Interests: Orthopedic Injuries, Workman's Compensation/Industrial Rehab, Sports Rehabilitation
  %p
    Email:
    %a{:href => 'mailto:stacey@totalrehab-pt.com'} stacey@totalrehab-pt.com

.span-3
  = img 'amy.jpg'
.span-12.last
  %h3 Amy Baker, DPT/OCS
  %p Professional Title: Doctorate of Physical Therapy/Orthopedic Clinical Specialist/Certified Strength and Conditioning Specialist
  %h4 Education
  %ul
    %li Doctorate of Physical Therapy,  The University of Iowa
    %li Undergraduate: Northwestern College, Orange City, IA
  %p Other Credentials or certifications: Board Certified Orthopedic Clinical Specialist (OCS)
  %p Professional Interests:  Orthopedic Injuries, Sports and Spinal Rehabilitation, Headaches, TMJ Dysfunction, BPPV, Pediatrics
  %p
    Email:
    %a{:href => 'mailto:amy@totalrehab-pt.com'} amy@totalrehab-pt.com

.span-3
  = img 'linda.jpg'
.span-12.last
  %h3 Linda Davis, OTR/L
  %p Professional Title:  Occupational Therapist Registered/Licensed
  %h4 Education
  %ul
    %li Bachelors of Science, The University of Findlay, Findlay, Ohio
  %p Professional Interests:  Pediatrics, Geriatrics, Upper extremity orthopedics/hands.
  %p
    Email:
    %a{:href => 'mailto:linda@totalrehab-pt.com'} linda@totalrehab-pt.com

.span-3
  = img 'jordan.jpg'
.span-12.last
  %h3 Jordan Vos, DPT/ATC
  %p Professional Title:  Doctorate of Physical Therapy/Athletic Trainer Certified
  %h4 Education
  %ul
    %li Doctorate of Physical Therapy, University of Iowa, Iowa City, Iowa
    %li Master of Science, Southwest Minnesota State University, Marshall, Minnesota
    %li Bachelor of Arts, Central College, Pella, Iowa
  %p Professional Interests:  Sports Rehabilitation, Orthopedic injuries, Sport Enhancement Training
  %p
    Email:
    %a{:href => 'mailto:jordan@totalrehab-pt.com'} jordan@totalrehab-pt.com

.span-3
  = img 'julie.jpg'
.span-12.last
  %h3 Julie Bartachek, CMA
  %p Professional Title:  Certified Medical Assistant; Office Manager
  %h4 Education
  %ul
    %li Certified Medical Assistant, Kirkwood Community College, Cedar Rapids, Iowa
  %p
    Email:
    %a{:href => 'mailto:julie@totalrehab-pt.com'} julie@totalrehab-pt.com
