#header.span-24
#navigation.span-24
  %ul#menu
    %li
      %a{:href => 'index.html'} Home
    %li= link 'Services'
    %li= link 'About Us'
    %li= link 'Staff'
    %li= link 'Patient Information'
    %li= link 'Contact'
    %li= link 'Resources'
    %li= link 'Products', 'http://www.ptunited.com/totalrehab/', :target => 'blank'
