!!! 5
%html
  %head
    %title Total Rehab - Orthopedic and Sports Specialist
    = stylesheets
    = blueprintcss :show_grid => false, :compressed => false
    = javascripts(:jquery, 'jquery.cross-slide', 'totalrehab-pt')
  %body
    .container
      = partial 'header'
      #main.span-24
        = partial 'sidebar'
        #content.span-18.last
          .push-1.span-16.last
            = yield
      = partial 'footer'
