!!!
%html
  %head
    %title Total Rehab - Orthopedic and Sports Specialist
    = stylesheets
    = blueprintcss :show_grid => false, :compressed => false
  %body
    .container
      #header.span-24
        = img 'header.jpg'
      #navigation.span-24
        %ul#menu
          %li
            %a{:href => 'index.html'} Home
          %li= link 'Services'
          %li= link 'About Us'
          %li= link 'Staff'
          %li= link 'Patient Information'
          %li= link 'Contact'
          %li= link 'Resources'
      #banner.span-24
        = img 'banner.jpg'
      #main.span-24
        #sidebar.span-6
          .vcard
            %h3.fn.org Total Rehab
            %h4 Orthopedic & Sports Specialist
            .adr
              %span.type Work
              .street-address Southview Plaza-Suite #4
              .something 234 West Street South
              %span.locality Grinnell
              %abbr.region{:title => 'Iowa'} IA
              %span.postal-code 50112
              .country-name USA

            .phone
              Phone:
              %span.tel
                %span.type Work
                641-236-4506
            .phone
              Fax:
              %span.tel
                %span.type Fax
                641-236-4316
          
            .hours
              Hours
              %br
              Monday - Friday
              %br
              7:30am - 6pm

        #content.span-18.last
          = yield

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-9431732-1");
      pageTracker._trackPageview();
      } catch(err) {}
